<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="REST" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
    <file>logs/rest.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/rest.%d{yyyy-MM}.log.gz</fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>

  </appender>
  
  
  <appender name="BATCH" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
    <file>logs/batch.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/jobs.%d{yyyy-MM}.log.gz</fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>

  </appender>


  <appender name="GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern></encoder>
    <file>logs/grouperfish.log</file>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/archive/grouperfish.%d{yyyy/MM}.log.gz</fileNamePattern>
      <maxHistory>365</maxHistory>
    </rollingPolicy>
  </appender>
  
  
  <logger name="com.mozilla.grouperfish.rest" level="DEBUG"><appender-ref ref="REST"/></logger> 
  <logger name="com.mozilla.grouperfish.batch" level="DEBUG"><appender-ref ref="BATCH"/></logger> 
  <root level="TRACE"><appender-ref ref="GENERAL" /></root>

</configuration>
