{ "//": "Grouperfish configuration",
  "//": "Override any values from defaults.json here as you see fit.",

  "//": "Like this:",

  "rest:port": "1337",
  "storage:hbase:zookeeper:znode": "/clusteringcluster"
}
